html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  font-family: arial;
}
nav{
  width: 100%;
  background-color: #262626;
  overflow: hidden;
  position: fixed;
  top: 0; 
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
li{
  float: left;
}
a{
  padding: 20px; 
  width: 100px;
  display: block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
#Home{
  height: 700px;
  background-image: url(../images/myimage1.jpg);
  background-size: cover;
  display: inline-block;
  width: 100%;
}
#About{
  height: 700px;
  background: burlywood;
  display: inline-block;
  width: 100%;
}
#Projects{
  height: 700px;
  background: oldlace;
  display: inline-block;
  width: 100%;
}
h1{
  margin: 70px;
  text-align: center;
  padding: 0;
  font-family: cursive;
}
h2{
  margin: 25px;
  text-align: center;
  padding: 0;
  font-family: monospace;
}
#Home h1{
  margin: 10px;
  padding: 0;
  color: #fff;
  text-align: center;
}
#About p{
  background-color: grey;
  width: 400px;
  border: 30px solid rgb(146, 102, 44);
  padding: 50px;
  margin: 25px;
  float: left;
  font-family: fantasy;
}
#Projects a{
  color: crimson;
  font-size: 16px;
  display: inline;
  text-transform: lowercase;
  padding: 0px;
  width: 0;
  font-weight: normal;
}
